
header.App-header {
   color: red;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: large;
   background-color: black;
   min-height: 25vh;


} 

// h1 {
//     font-size: 30px;
//     color: red;
//     color: red;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    font-size: large;
//    background-color: black;

   
// } 